
  /*image change */
  img {
    max-width: auto;
    height: auto;
    width: auto; 
  }

  /* Change quiz boxgruond design */
  div#test{
    border:none;
    padding: 10px 60px 60px 60px;
    background-color: white;
    height: auto;
    width: auto;
    max-width: 40%;
    max-height: 50%;
    
  }


  /* Button Modefier */
  .Button_Modefier {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    border: none;
    margin-top: auto;
    margin-top: 400px;
  }
  
  /*change background image and possiton*/
  body {
  
    background-image: url("");
    
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .Text_Modifer{

    margin-right: 100px;


  }