
  /*image change */
  img {
    max-width: auto;
    height: auto;
    width: auto; 
  }

/* Radio button text changer */

 

  /* Change quiz boxgruond design */
  div#test{
    border:none;
    padding: 10px 60px 60px 60px;
    background-color: white;
    height: auto;
    width: auto;
    max-width: 40%;
    max-height: 50%;
    
  }


  /* Button Modefier */
  .Button_Modefier {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    border: none;
    margin-top: auto;
    margin-top: 400px;
  }
  
  /*change background image and possiton*/
  body {
  
    background-image: url("backgruond.jpg");
    
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  /* Change Radio Button */
  input[type="radio"] {
    /* remove standard background appearance */
    
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 6px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid #c7c7c7;
    background-color: #e7e6e7;
    border-radius: 50%;
  }

/* Change aswer Button 
  input[type='button'] 
  {
    
    
  }
  */